.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  background-color: #8f8f8f;
  padding: 0 30px;
  text-decoration: none;
  color: #fff;
}
